body {
  font-family: Arial;
  text-align: center;
  transition: 0.3s;
}

textarea {
  width: 80%;
  font-size: 16px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  margin: 10px;
}

.light {
  background: white;
  color: black;
}

.dark {
  background: #121212;
  color: white;
}

.dark textarea {
  background: #1e1e1e;
  color: white;
}
